<h1><span>{{title}}<h6>(select for more details)</h6>
</span></h1>
<div *ngIf="!selected">
<table class = "table table-striped table-hover table-danger border border-info">
  <thead class="thead thead-dark">
    <tr>
      <th>Animal</th>
      <th>Class</th>
      <th>Year Extinct</th>
      <th>Era</th>
      <th>Area</th>
    </tr>
  </thead>
  <tbody>
  <tr #data (click)="displaySelected(ext)" class = "border border-info" *ngFor="let ext of extinctions">
    <td >{{ext.name}}</td>
    <td>{{ext.animalClass}}</td>
    <td>{{ext.year}}</td>
    <td>{{ext.era}}</td>
    <td>{{ext.area}}</td>
  </tr>
  </tbody>
  </table>
</div><br>

<div *ngIf="selected">
    <table class = "table table-striped table-hover table-danger border border-info">
        <thead class="thead thead-dark">
          <tr>
            <th>Animal</th>
            <th>Class</th>
            <th>Year Extinct</th>
            <th>Era</th>
            <th>Area</th>
          </tr>
        </thead>
        <tbody>
            <tr class = "border border-info">
                <td>{{selected.name}}</td>
                <td>{{selected.animalClass}}</td>
                <td>{{selected.year}}</td>
                <td>{{selected.era}}</td>
                <td>{{selected.area}}</td>
              </tr>
              </tbody>
              </table>
</div>
<div *ngIf="selected">
  <span><button class = "btn btn-primary"(click)="reload()">Back</button></span>
  <span><button class = "btn btn-primary"(click)="delete()">Remove</button></span>
</div>
