<h1 class="text-white"><span>{{title}}<h6>(select for more details)</h6>
</span></h1>
<div *ngIf="!selected">
<table class = "table table-striped table-hover table-danger border border-info">
  <thead class="thead thead-dark">
    <tr>
      <th>Animal</th>
      <th>Class</th>
      <th>Year Extinct</th>
      <th>Era</th>
      <th>Area</th>
    </tr>
  </thead>
  <tbody>
  <tr #data (click)="displaySelected(ext)" class = "border border-info" *ngFor="let ext of extinctions">
    <td >{{ext.name}}</td>
    <td>{{ext.animalClass}}</td>
    <td>{{ext.year}}</td>
    <td>{{ext.era}}</td>
    <td>{{ext.area}}</td>
  </tr>
  </tbody>
  </table>
</div><br>

<div *ngIf="selected">
    <table class = "table table-striped table-hover table-danger border border-info">
        <thead class="thead thead-dark">
          <tr>
            <th>Animal</th>
            <th>Class</th>
            <th>Year Extinct</th>
            <th>Era</th>
            <th>Area</th>
          </tr>
        </thead>
        <tbody>
            <tr class = "border border-info">
                <td>{{selected.name}}</td>
                <td>{{selected.animalClass}}</td>
                <td>{{selected.year}}</td>
                <td>{{selected.era}}</td>
                <td>{{selected.area}}</td>
              </tr>
              </tbody>
              </table>
              <div *ngIf="editExt" class="card bg-info text-light">
              <form>
                <div class="form-group container-fluid">
                  <label for="animalName">Name</label>
                  <input type="text" class="form-control" name="animalName" placeholder="Name" [(ngModel)]="editExt.name">
                  <label for="animalClass">Class</label>
                  <input type="text" class="form-control" name="animalClass" placeholder="Animal Class" [(ngModel)]="editExt.animalClass">
                  <label for="year">Year</label>
                  <input type="text" class="form-control" name="year" placeholder="Year" [(ngModel)]="editExt.year">
                  <label for="era">Era</label>
                  <input type="text" class="form-control" name="era" placeholder="Era" [(ngModel)]="editExt.era">
                  <label for="area">Area</label>
                  <input type="text" class="form-control" name="area" placeholder="Area" [(ngModel)]="editExt.area">
                  <input (click)="updateExt(editExt)" type="submit" class="btn btn-dark" value = "SUBMIT">
                  <button (click)="setEdit()" class="btn btn-danger">CANCEL</button>
                </div>
                </form>
            </div>
            <div *ngIf="!editExt" class = "float-right">
              <button class='btn btn-danger' (click)="setEdit(selected)">Edit</button>
            </div>
</div>
<div *ngIf="selected && !editExt">
  <span><button class = "btn btn-primary"(click)="reload()">Back</button></span>
  <span><button class = "btn btn-primary"(click)="delete()">Remove</button></span>
</div>
