
<nav class="navbar navbar-expand-lg navbar-expand-md navbar-light bg-info">

        <a class="navbar-brand text-white" href="/home">Home</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"

                data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"

                aria-expanded="false" aria-label="Toggle navigation"

                (click)="isCollapsed = !isCollapsed"

                [attr.aria-expanded]="!isCollapsed">

         <span class="navbar-toggler-icon"></span>

         </button>

       <div class="collapse navbar-collapse" id="navbarNavAltMarkup"

            [ngbCollapse]='isCollapsed'>

         <div class="navbar-nav">

           <a class="nav-item nav-link text-warning" [routerLink]="['/extinctions']">See All</a>

           <a class="nav-item nav-link text-warning" [routerLink]="['/create']">Create</a>

           <a class="nav-item nav-link text-warning" [routerLink]="['/search']">Advanced Search</a>

         </div>

       </div>

      </nav>
